*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: arial;
    max-height: 1080px;
}
.wrapper{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: rgb(245, 243, 243);
}
.row{
    width: 100%;
    padding: 50px 100px;

}
.image-section{
    width: 30%;
    float: left;
}
.image-section img{
    width: 100%;
    height: auto;


}
.content{
    width: 60%;
    float: left;
    margin-left: 50px;

}
.content h1{
    font-size: 30px;
    color: #222;
    margin-top: 25px;

}
.content p{
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.5;
}
.content2{
    width: 60%;
    float: left;
    margin-left: 50px;

}
.content2 h1{
    font-size: 30px;
    color: #222;
    margin-top: 25px;

}
.content2 p{
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.5;
}
.imgDiv{
    
    
    width: 47%;
    height: 90px;
    float: none;
    margin-top: -13%;
    margin-left: 37%;
    
}
.image-section2{
   position: absolute;
   display: block;
   width: 90px;
   height: 90px;
   background-color: rgb(145, 204, 67);
   border-radius: 100%;
   
   
   
}
.image-section2 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-top: 10px;
    
}
.image-section3{
    position: absolute;
    display: block;
    width: 90px;
    height: 90px;
    background-color: rgb(145, 204, 67);
    border-radius: 100%;
    margin-left: 10%; 
 }
 .image-section3 img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 70%;
   padding-top: 10px;
     
 }
 .image-section4{
    position: absolute;
    display: block;
    width: 90px;
    height: 90px;
    background-color: rgb(145, 204, 67);
    border-radius: 100%;
    margin-left: 20%; 
 }
 .image-section4 img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 70%;
   padding-top: 10px;
     
 }
 .image-section5{
    position: absolute;
    display: block;
    width: 90px;
    height: 90px;
    background-color: rgb(145, 204, 67);
    border-radius: 100%;
    margin-left: 30%; 
 }
 .image-section5 img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 70%;
   padding-top: 10px;
     
 }
 .image-section6{
    position: absolute;
    display: block;
    width: 90px;
    height: 90px;
    background-color: rgb(145, 204, 67);
    border-radius: 100%;
    margin-left: 40%; 
 }
 .image-section6 img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 70%;
   padding-top: 10px;
     
 }


@media screen and (min-height: 760px){

.image-section2{
   margin-left: 0%;
   margin-top: -8%;
}
.image-section3{
    margin-left: 10%;
    margin-top: -8%;
 }
 .image-section4{
    margin-left: 20%;
    margin-top: -8%;
 }
 .image-section5{
    margin-left: 30%;
    margin-top: -8%;
 }
 .image-section6{
    margin-left: 40%;
    margin-top: -8%;
 }
}
@media screen and (max-width: 768px){
.image-section{
        width: 100%;
        float: none;
    }
    .content{
        width: 100%;
        float: left;
        margin-left: 0px;
    }
    .content2{
        width: 100%;
        float: left;
        margin-left: 0px;
    }
    .content h1{
        font-size: 20px;
        letter-spacing: 2px;
        margin-top: 30px;
        
    
    }
    .content p{
        font-size: 14px;
        
    }
    .content2 h1{
        font-size: 20px;
        letter-spacing: 2px;
        margin-top: 30px;
    }
    .content2 p{
        font-size: 14px;
        
    }
    
}

