/*--------------Search-Box--------------*/
.container1{
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form{
  background-color: #fff;
  width: 700px;
  height: 55px;
  display: flex;
  box-shadow: 10px 10px 5px lightgray;
  border: 1px solid#0B7E2D;

}

form input{
  flex: 1;
  border: none;
  outline: none;
}

form button{
  background-color: #0B7E2D;
  padding: 10px 50px;
  border: none;
  outline: none;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  border: 2px solid #fff; /* Green */
  transition-duration: 0.4s;
}

form .fa-location-pin{
 align-self: center;
 padding: 10px 20px;
 color: #0B7E2D;
}


/*------Filter section------*/
#main {
  margin-top: 10px;
  min-height: 300px;
}

#sidebar {
  width: 150px;
  float: left;
  background-color: #fff;
  min-height: 250px;
  box-shadow: 10px 10px 5px lightgray;
}

#sidebar h4{
  font-size: 20px;
}

#Second{
background-color: #fff;
min-height: 600px;
}

