html{
  height:100%;
}
/*--------------User Panel--------------*/


#user-panel{
  margin-left:20px;
  border: 1px solid transparent;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  border-radius: 1.8rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 3px 0;
  vertical-align:middle;
}

#user-logout{
  text-decoration:none;
  margin-left:3px;
  color:#4d4d4d;
}
/*--------------Hidden Popup (random search)--------------*/
.popup {
  display: none;
  position: absolute;
  padding: 20px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  width:30vw;
  height:90vh;
  background: #FFF;
  z-index: 20;
}

.is-hidden { display: none !important; }

#popup1 {
  -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}

.survey-heading-container{
  text-align: center;
  margin-bottom:30px;
}
.popup h4{
  display:inline;
  margin-bottom:20px;
}

.close-popup{
  float:right;
  color:#212529;
}
.close-popup:hover{
  float:right;
  color:#0B7E2D;
}

.popup form{
  display:block;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.legend_number {
  background-color:#0B7E2D;;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

.randomizer_form input[type="text"]{
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 5px;
  width: 50%;
  background-color: #e8eeef;
}

.randomizer_form input[type="radio"],
.randomizer_form input[type="checkbox"] {
  margin: 0 4px 8px 0;
}



.suggestions-button {
  
  align-items: center;
  background-clip: padding-box;
  background-color: #0B7E2D;
  border: 1px solid transparent;
  border-radius: 1.8rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  
  min-height: 3rem;
  padding: calc(.6rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.suggestions-button:hover,
.suggestions-button:focus {
  color:#fff;
  background-color: #0B7E2D;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.suggestions-button:hover {
  transform: translateY(-1px);
}

.suggestions-button:focus {
  background-color: #0B7E2D;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.random-dice-icon{
  margin-left:5px;
}



/*--------------Search-Box--------------*/
.container1{
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container1 #form-container{
  background-color: #fff;
  width: 700px;
  height: 55px;
  display: flex;
  box-shadow: 0px 0px 17px 3px rgba(163,163,163,0.75);
-webkit-box-shadow: 0px 0px 17px 3px rgba(163,163,163,0.75);
-moz-box-shadow: 0px 0px 17px 3px rgba(163,163,163,0.75);
  border: 1px solid#0B7E2D;
}

#form-container input{
  flex: 1;
  border: none;
  outline: none;
}

#form-container .search-button{
  background-color: #0B7E2D;
  padding: 10px 50px;
  border: none;
  outline: none;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  border: 2px solid #fff; /* Green */
  transition-duration: 0.4s;
}


#form-container .random-button{
  background-color: #0B7E2D;
  padding: 10px;
  border: none;
  outline: none;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  border: 2px solid #fff; /* Green */
  transition-duration: 0.4s;
  text-decoration:none;
}

#form-container .random-button:hover{
  color: #fff;
}


#form-container .fa-location-pin{
 align-self: center;
 padding: 10px 20px;
 color: #0B7E2D;
}


/*------Filter section------*/
#main {
  margin-top: 10px;
  min-height: 80vh;
}

#sidebar {
  padding:20px;
  margin-left:30px;
  width: 20vh;
  float: left;
  background-color: #fff;
  min-height: 250px;
  box-shadow: 0px 0px 17px 0px rgba(163,163,163,0.75);
-webkit-box-shadow: 0px 0px 17px 0px rgba(163,163,163,0.75);
-moz-box-shadow: 0px 0px 17px 0px rgba(163,163,163,0.75);
}

#sidebar h4{
  font-size: 20px;
}

#Second{
background-color: #fff;
min-height: 750px;
}

/*------Main Entries Section------*/
#Main-Entries{
  display:flex;
  flex-wrap: wrap;
  padding:20px;
  margin-left:30px;
  width: 80vw;
  height:90vh;
  float: left;
  background-color: #fff;
  min-height: 250px;
  box-shadow: 0px 0px 17px 0px rgba(163,163,163,0.75);
-webkit-box-shadow: 0px 0px 17px 0px rgba(163,163,163,0.75);
-moz-box-shadow: 0px 0px 17px 0px rgba(163,163,163,0.75);
}


/*------Restaurant Entry------*/
#Restaurant-Entry{
  width: 25%;
  box-sizing: border-box;
}
#restaurant-image{
  width:220px !important;
  height: 140px !important;
}
#restaurant-heading{
  display:inline;
  margin-bottom:0px;
}
#res-heading-container{
  margin-top:10px;
}
#restaurant-price-tag{
  font-size:14px;
  margin-left:5px;
  margin-right:5px;
}
#restaurant-heading a{
  text-decoration:none;
  color:#212529;
}
#restaurant-stars{
  color:#D5AB55;
}
#restaurant-cuisines{
  font-size:14px;
}


/*------Buttons------*/

.filter-button {
  
  align-items: center;
  background-clip: padding-box;
  background-color: #0B7E2D;
  border: 1px solid transparent;
  border-radius: 1.8rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  
  min-height: 3rem;
  padding: calc(.6rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #0B7E2D;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.filter-button:hover {
  transform: translateY(-1px);
}

.filter-button:active {
  background-color: #0B7E2D;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}